# Python files
*.pyc
venv/
.cache/

# emacs specific files

auto-save-list
custom.el
url/
.org-id-locations
\#*
org-mode-config.el
*~
.#*
\#*\#
*.log
.DS_Store
org-clock-save.el
emacs-config.el

others/
